<div class="jumbo" [@fadeInAnimation]>
  <div class="center">
    <div class="caption">
      <h1>About</h1>
    </div>
  </div>
</div>

<div class="container" [@fadeInAnimation]>

  <div class="row">

    <div class="col-xs-12 col-md-3 tonyContainer">
      <div class="tonyBox">
        <img src="https://s3-us-west-1.amazonaws.com/mean-realestate/tonybackground.png" class="img-responsive">
      </div>
      <p>842 E Valley Blvd.</p>
      <p>Alhambra, CA 91801</p>
      <a href="tel:+6267594812">(626)759-4812</a>
      <a href="mailto:BrokerTonyMa@gmail.com" target="_top">brokertonyma@gmail.com</a>
      <button routerLink="/contact" class='btn btn-md'>Contact Now</button>
      <button (click)="scroll(reviews)" class='btn btn-md'>Read Reviews</button>
    </div>

    <div class="col-xs-12 col-md-9 messageContainer">

      <div class="messageWrapper">

        <div class="row">

          <div class="mission col-xs-12">
            <h2>Mission Statement <i class="fas fa-chess-knight bounce"></i></h2>
            <div class="break"></div>
            <p>"My mission is to guide my current and prospective clients through the process of any of their real estate needs. I know that there's a lot of ambiguity when dealing with real estate. With my years of experience and knowledge, I can help answer any questions and guide you through the process, step by step. Whether you're buying or selling, I invite you to contact me, so that I may show you why my past clients have trusted and continuously trust me with their ventures."</p>
          </div>

          <div class="testimonials col-xs-12">
            <h2>Testimonials
              <img src="https://s3-us-west-1.amazonaws.com/mean-realestate/Comment.png">
              <img src="https://s3-us-west-1.amazonaws.com/mean-realestate/comment1.png">
              <img src="https://s3-us-west-1.amazonaws.com/mean-realestate/comment2.png">
              <img src="https://s3-us-west-1.amazonaws.com/mean-realestate/comment3.png">
            </h2>
            <div class="break"></div>
            <p>"Selling our home with Tony was a positive and smooth experience. From the initial listing, to open houses, to closing, it was evident that Tony was extremely knowledgeable and passionate about real estate. I appreciate his great attention to detail and how he always makes time for his clients. I   highly recommend Tony Ma for any of your real estate needs!"</p>
            <p> - Sally Zhen</p>
            <p>"Tony is THE BEST! As a first time homebuyer, I was nervous to begin my search but Tony helped me learn more about what I wanted (and more importantly, what I didn't!) and helped me find the perfect home. Throughout the process, Tony explained everything clearly to make sure I was up to speed and on the same page.."</p>
            <p> - Cassie Curtin</p>
            <div class="break"></div>
          </div>

          <div class="reviews col-xs-12" #reviews>
            <h2>See Why Partners are rating Tony</h2>
            <h2>
              <span class="fa fa-star onestar"></span>
              <span class="fa fa-star twostar"></span>
              <span class="fa fa-star threestar"></span>
              <span class="fa fa-star fourstar"></span>
              <span class="fa fa-star fivestar"></span>
            </h2>
            <a href="https://www.google.com/search?q=Tony%20Ma%20Real%20Estate%20Agent&ludocid=3951818538487366440#lrd=0x0:0x36d7ae05eb57c328,1" target="_blank">
              <img src="https://s3-us-west-1.amazonaws.com/mean-realestate/google.png" class="img-responsive">
            </a>
            <a href="https://www.trulia.com/profile/tony-ma-agent-alhambra-ca-zgw5pj7v/overview" target="_blank">
              <img src="https://s3-us-west-1.amazonaws.com/mean-realestate/trulia.png" class="img-responsive">
            </a>
            <a href="https://www.zillow.com/profile/brokertonyma/" target="_blank">
              <img src="https://s3-us-west-1.amazonaws.com/mean-realestate/zillow.png" class="img-responsive">
            </a>
            <a href="https://www.yelp.com/biz/tony-ma-re-max-elite-realty-alhambra" target="_blank">
              <img src="https://s3-us-west-1.amazonaws.com/mean-realestate/yelp.png" class="img-responsive">
            </a>
          </div>

        </div>

      </div>


    </div>

  </div>

</div>
