<div class="footContainer">

  <div class="container">
    <div class="row">

      <div class="footHeader col-xs-12 col-md-4">
          <h1>Tony Ma</h1>
          <p>Real Estate</p>
      </div>

      <div class="social-media col-xs-12 col-md-4">
        <a href="https://www.google.com/search?q=Tony%20Ma%20Real%20Estate%20Agent&ludocid=3951818538487366440#lrd=0x0:0x36d7ae05eb57c328,1" target="_blank">
          <img src="https://s3-us-west-1.amazonaws.com/mean-realestate/google.png" class="img-responsive">
        </a>
        <a href="https://www.trulia.com/profile/tony-ma-agent-alhambra-ca-zgw5pj7v/overview" target="_blank">
          <img src="https://s3-us-west-1.amazonaws.com/mean-realestate/trulia.png" class="img-responsive">
        </a>
        <a href="https://www.zillow.com/profile/brokertonyma/" target="_blank">
          <img src="https://s3-us-west-1.amazonaws.com/mean-realestate/zillow.png" class="img-responsive">
        </a>
        <a href="https://www.yelp.com/biz/tony-ma-re-max-elite-realty-alhambra" target="_blank">
          <img src="https://s3-us-west-1.amazonaws.com/mean-realestate/yelp.png" class="img-responsive">
        </a>
        <a href="https://www.remax.com/realestateagentoffice/alhambra-ca-91801-tonyma-id29848707.html" target="_blank">
          <img src="https://s3-us-west-1.amazonaws.com/mean-realestate/remax.png" class="img-responsive">
        </a>
        <a href="https://www.linkedin.com/in/tonyma01/" target="_blank">
          <img src="https://s3-us-west-1.amazonaws.com/mean-realestate/linkedin.png" class="img-responsive">
        </a>
      </div>

      <div class="col-xs-12 col-md-4 remax">
          <img src="https://s3-us-west-1.amazonaws.com/mean-realestate/remax-logo.png" class="img-responsive">
      </div>

    </div>
  </div>

</div>
<div class="footContainer">

  <div class="container">
    <div class="row">

      <div class="links col-xs-12">
        <a routerLink="/properties">Properties</a>
        <a routerLink="/about">About</a>
        <a routerLink="/contact">Contact</a>
      </div>
      <div class="loggedIn col-xs-12" *ngIf="loggedIn">
          <a routerLink="/upload">Add Listing</a> |
          <a routerLink="/editlisting">Edit Listing</a>
      </div>
      <div class="copyright col-xs-12">
        <div class="copyrightContainer">&copy; 2018 Tony Ma |
          <div *ngIf="!loggedIn">
            <a routerLink="/login">Log In</a>
          </div>
          <div *ngIf="loggedIn">
            <a (click)="logout()">Logout</a>
          </div>
          <a href="#"></a>
          | Website built by <a href="https://www.linkedin.com/in/kevinmadev" target="_blank" class="kevinma">Kevin Ma</a>
        </div>
      </div>
    </div>

    </div>

</div>
