$font-stack: Oswald, sans-serif;
$primary-color: #080a58;
$secondary-color: #f28109;

* {
  font-family: $font-stack;
  color: $primary-color;
}

.jumbo {
  background-image:url(https://s3-us-west-1.amazonaws.com/mean-realestate/jumboimage.jpg);
  background-position: top;
  text-align: center;
  .center {
    padding: 65px 0;
  }
  .caption {
    padding: 10px;
    display: inline-block;
    background: white;
    h1 {
      letter-spacing: 5px;
      text-transform: uppercase;
      margin: 0;
    }
  }
}

@media only screen and (max-width: 414px) {
  .jumbo {
    .center {
      padding: 40px 0;
    }
  }
}

.container {
  padding: 15px;
}

.tonyContainer {
  border: 2px solid #e6e4ff;
  border-radius: 10px;
  box-shadow: 2px 2px #e6e4ff;
  padding: 47px 10px !important;
  color: $primary-color;
  text-align: center;
  a {
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $primary-color;
  }
  button {
    display: block;
    margin: 3px auto;
    height: 50px;
    width: 200px;
    transition: filter 1s;
  }
  button:hover {
    filter: brightness(0.9);
    transition: filter 1s;
  }
  .btn {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
  }
  .btn:nth-child(even){
    background: $secondary-color;
  }
  .btn:nth-child(odd){
    background: #068aff;
  }
  .tonyBox {
    background: white;
    width: 100%;
    margin: 0 auto;
    img {
      margin: 0 auto;
      border-radius: 10px;
      filter: brightness(0.9);
    }
  }
  p {
    margin: 0;
  }
}

.imageContainer {
  margin: 15px 0;
}

.listingWrapper {
  padding: 15px;
  border: 2px solid #e6e4ff;
  border-radius: 10px;
  box-shadow: 2px 2px #e6e4ff;
}

.address {
  text-align: center;
  letter-spacing: 1px;
}

.listingCollection {
  padding: 0;
  img {
    border: 1px solid white;
    filter: brightness(0.5);
  }
  .focusimage {
    filter: brightness(1);
  }
}

@media only screen and (max-width: 414px) {
  .tonyContainer {
    border: none;
    box-shadow: none;
    padding: 100px 0;
    .tonyBox {
      width: 50%;
    }
  }
}
