<div *ngIf = "error">
  {{error}}
</div>
<div class="wrapper">
  <form (submit)="addListing(formData)" #formData="ngForm">
    <div class="buttons">
    <button (click)='cancel(ngForm)' type="button">Cancel</button>
    <div *ngIf='showButton && this.files.length' class="addit">
      <button>Add</button>
    </div>
    <div *ngIf='!showButton || !this.files.length' class="dontadd">
      <button disabled='disabled'>Add</button>
    </div>
  </div>

    <div class="info">
      <p>
        Address: <input type="text" name="address" ngModel>
      </p>
      <p>
        Sold? <input type="checkbox" name="sold" ngModel>
      </p>
    </div>
  </form>

  <div class="uploadfile">
    <h3>Select files</h3>
      <div class="dropzonearea">
        <div ng2FileDrop
        [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
        (fileOver)="fileOverBase($event)"
        [uploader]="uploader"
        class="dropzone">
        > Drop Images Here <
      </div>
      <input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>
    </div>
    <div class="showqueue">
      <h3>Upload queue</h3>
      <p>Queue length: {{ uploader?.queue?.length }}</p>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of uploader.queue">
            <td><strong>{{ item?.file?.name }}</strong></td>
            <td>
              <button (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">Upload</button>
              <button (click)="item.remove()">Remove</button>
            </td>
          </tr>
        </tbody>
      </table>
      <button type="button" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">Upload all</button>
      <button type="button" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">Cancel all</button>
      <button type="button" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">Clear Queue</button>
    </div>

    <div class="uploadedalready">
      <table>
        <th (click)='print()'>Name</th>
        <th>Image</th>
        <th>Action</th>
        <div *ngIf = "files">
          <div *ngFor = "let file of files" class="showuploaded">
            <td>{{ file.originalname }}</td>
            <td><img src="{{ file.location }}" width="25%"></td>
            <button type="button" (click)="deleteListingImage(file.originalname, file.size, file.key)">Delete</button>
          </div>
        </div>
      </table>
    </div>
</div>
